<template>
    <div>

        <Head>
            <Title>{{ name }}</Title>
        </Head>
        <div class="container p-2">
            <NuxtLink to="/" >&#9664; <span class="font-bold">back</span></NuxtLink>
        <div class="w-[75%] m-auto">
            <h2 class="text-xl font-bold text-gray-800">{{ name }}</h2>
            <div class="flex">
                <div class="w-2/3">
                    <span class="block text-gray-500 font-bold mb-1 pr-4">
                        Luas Area
                    </span>
                </div>
                <div class="w-1/3">
                    {{ data.luas_area.toLocaleString() }}
                </div>
            </div>
            <div class="flex">
                <div class="w-2/3">
                    <span class="block text-gray-500 font-bold mb-1 pr-4">
                        Jumlah Penduduk
                    </span>
                </div>
                <div class="w-1/3">
                    {{ data.jumlah_penduduk.toLocaleString() }}
                </div>
            </div>
            <div class="flex">
                <div class="w-2/3">
                    <span class="block text-gray-500 font-bold mb-1 pr-4">
                        Kepadatan Penduduk
                    </span>
                </div>
                <div class="w-1/3">
                    {{ data.kepadatan_penduduk.toLocaleString() }}
                </div>
            </div>
            <h3 class="text-lg font-bold text-gray-800">Petugas Kesehatan</h3>
            <div class="flex" v-for="item in data.petugas">
                <div class="w-2/3">
                    <span class="block text-gray-500 font-bold mb-1 pr-4">
                        {{ item.tenaga_kesehatan }}
                    </span>
                </div>
                <div class="w-1/3">
                    {{ item.jumlah.toLocaleString() }}
                </div>
            </div>
        </div>
        <div>
            <highchart :options="chartOptions" />
        </div>
        </div>

    </div>
</template>
  
<script setup>
const { name } = useRoute().params
const { data } = await useFetch('/api/data?area=' + name)
const categories = Object.values(data.value.petugas).map((val)=>val.tenaga_kesehatan)
const values = Object.values(data.value.petugas).map((val)=>val.jumlah)

const chartOptions = {
    chart: {
        type: 'bar'
    },
    title: {
        text: null,
    },
    xAxis: {
        categories: categories,
        title: {
            text: null
        },
        gridLineWidth: 1,
        lineWidth: 0
    },
    yAxis: {
        title: {
            text: null
        },
    },
    series: [{
        showInLegend: false,   
        data: values
    }, ],
}
</script>