<template>
    <div class="h-screen w-screen">

            <nav class="bg-orange-400 border-gray-200 dark:bg-gray-900 fixed h-[72px] w-full z-[10000]">
                <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
                    <span class="text-2xl font-semibold whitespace-nowrap p-4">Peta DKI Jakarta</span>
                    <button type="button" @click="()=>hideMenu=!hideMenu"
                        class="inline-flex items-center m-4 p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
                        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 1h15M1 7h15M1 13h15" />
                        </svg>
                    </button>
                    <div :class="{hidden: hideMenu}" @click="()=>hideMenu=true" class="w-screen md:block md:w-auto bg-orange-400 p-4">
                        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 md:flex-row md:space-x-8 md:mt-0 ">
                            <li>
                                <NuxtLink to="/"
                                    class="block py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-100 md:p-0">
                                    Home</NuxtLink>
                            </li>
                            <li>
                                <NuxtLink to="/chart"
                                    class="block py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-100 md:p-0">
                                    Chart</NuxtLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        <div class="p-2 pt-20 h-full w-full">
            <slot />
        </div>
    </div>
</template>

<script setup>
const hideMenu = useState('menu', ()=>true);
</script>

<style scoped></style>