<template>
    <div>
        <highchart :options="chartOptions" />
    </div>
</template>

<script setup>
const { data } = await useFetch('/api/data')
const raw = data._rawValue;

const categories = Object.values(raw).map((val)=>val.area)
const population = Object.values(raw).map((val)=>val.jumlah_penduduk/1000)
const area = Object.values(raw).map((val)=>val.luas_area)



const chartOptions = {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Penduduk Jakarta',
        align: 'left'
    },
    xAxis: {
        categories: categories,
        title: {
            text: null
        },
        lineWidth: 0
    },
    yAxis: {
        title: {
            text: null
        },
    },
    series: [{
        name: 'Populasi(x1000)',
        data: population
    }, {
        name: 'Area',
        data: area
    }],
}
</script>

<style scoped></style>