<template>
    <div class="h-full w-full">
        <LMap :zoom="11" :center="[-6.17541, 106.8279]">
            <LTileLayer url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png" attribution="© OpenStreetMap"
                layer-type="base" name="OpenStreetMap" />
            <LGeoJson :geojson=geojson @mouseover="(e) => tooltip=e.layer.feature.properties.name" @click="(e)=>mapClick(e)">
                <LTooltip>{{ tooltip }}</LTooltip>
            </LGeoJson>
        </LMap>
    </div>
</template>

<script setup>

const tooltip = useState('tooltip',()=>'');
const router = useRouter();
const geojson = {
    "type": "FeatureCollection", "features": [
        { "type": "Feature", "geometry": { "type": "Polygon", "coordinates": [[[106.737454, -6.223777], [106.744608, -6.223832], [106.7476339, -6.223513], [106.7568214, -6.2234586], [106.75786, -6.22266], [106.7654823, -6.2224746], [106.7669453, -6.2251346], [106.7658481, -6.2268454], [106.7675297, -6.2273868], [106.77847, -6.22687], [106.7784846, -6.217558], [106.7772599, -6.2169], [106.7779717, -6.2134623], [106.7796487, -6.2133905], [106.7823125, -6.2132676], [106.783621, -6.212071], [106.783218, -6.206746], [106.787434, -6.207065], [106.788844, -6.208495], [106.790757, -6.207454], [106.7923939, -6.2077815], [106.7918334, -6.2087557], [106.792672, -6.210347], [106.795094, -6.21287], [106.796058, -6.21519], [106.7969474, -6.2186256], [106.796074, -6.223609], [106.7963941, -6.2264679], [106.795623, -6.22857], [106.7958306, -6.2292594], [106.7993951, -6.2289663], [106.8010173, -6.22794], [106.80307, -6.22634], [106.809193, -6.222214], [106.812395, -6.2194063], [106.816779, -6.215875], [106.819593, -6.213211], [106.8215751, -6.2093227], [106.8217628, -6.2086953], [106.8221748, -6.20632], [106.822744, -6.202639], [106.8279871, -6.2038393], [106.8374618, -6.2055283], [106.840969, -6.206863], [106.847696, -6.209144], [106.8491498, -6.2075531], [106.851027, -6.208943], [106.8524027, -6.209387], [106.8550004, -6.2113482], [106.8568735, -6.2117636], [106.8582848, -6.2133596], [106.8575168, -6.2137781], [106.8562954, -6.2162957], [106.85733, -6.217462], [106.858543, -6.216326], [106.860489, -6.21727], [106.8624504, -6.2162668], [106.862549, -6.217434], [106.860174, -6.220922], [106.8617152, -6.2214274], [106.8616768, -6.2197953], [106.8629789, -6.219617], [106.863505, -6.220961], [106.8655652, -6.2235907], [106.86528, -6.224541], [106.863818, -6.224607], [106.8644929, -6.2263414], [106.8647657, -6.2288773], [106.863339, -6.2306937], [106.865268, -6.232443], [106.8663893, -6.2341338], [106.8652872, -6.2352697], [106.866418, -6.236829], [106.8669353, -6.2384976], [106.8662139, -6.2389072], [106.8653498, -6.2368629], [106.863546, -6.237576], [106.8627709, -6.2400485], [106.8626088, -6.2440128], [106.8621159, -6.2467522], [106.8640218, -6.2494811], [106.8622279, -6.2504435], [106.862904, -6.2531641], [106.8610171, -6.2538681], [106.8605617, -6.2513275], [106.8599593, -6.2508724], [106.8580008, -6.2525102], [106.8575452, -6.2548024], [106.8596161, -6.2543471], [106.860463, -6.2546976], [106.8605608, -6.257745], [106.8594738, -6.2625155], [106.8588949, -6.2630165], [106.8569683, -6.262879], [106.8552781, -6.2617027], [106.8547525, -6.262931], [106.8569451, -6.2636641], [106.8566034, -6.2643165], [106.8543429, -6.2646314], [106.8552432, -6.2661196], [106.8557207, -6.2683244], [106.8566376, -6.270373], [106.8563776, -6.2728222], [106.8535827, -6.2719325], [106.853527, -6.2731704], [106.8519924, -6.2732194], [106.8513397, -6.2740605], [106.8519526, -6.2751291], [106.851338, -6.2765494], [106.8494445, -6.276512], [106.8467742, -6.2788575], [106.8481025, -6.2800419], [106.8502678, -6.2795356], [106.847617, -6.2828722], [106.8488404, -6.2837619], [106.847696, -6.2848465], [106.847416, -6.2863749], [106.848555, -6.288096], [106.8503504, -6.287911], [106.8512687, -6.2888153], [106.8507563, -6.2898298], [106.8493336, -6.2904402], [106.850204, -6.292592], [106.851578, -6.2925173], [106.8517159, -6.2911596], [106.8541543, -6.2902543], [106.8542186, -6.2917399], [106.8523707, -6.2939796], [106.8540646, -6.2937198], [106.8543587, -6.296042], [106.8517073, -6.2955767], [106.8506183, -6.2967897], [106.8522891, -6.2979481], [106.8520272, -6.2992725], [106.8507124, -6.2986793], [106.8499768, -6.299746], [106.8515379, -6.3010497], [106.8523988, -6.300058], [106.8545225, -6.2993757], [106.8550965, -6.3011197], [106.8544473, -6.302394], [106.8551413, -6.3035898], [106.8581818, -6.304914], [106.8575732, -6.3061925], [106.8577737, -6.3074622], [106.8568182, -6.310263], [106.8581973, -6.3106162], [106.8579852, -6.3117151], [106.8555499, -6.3137978], [106.8548245, -6.3124936], [106.8528203, -6.3108504], [106.8512232, -6.3145539], [106.8515514, -6.3163207], [106.8483667, -6.3183005], [106.8489765, -6.3160596], [106.8483541, -6.3150691], [106.8470362, -6.3158329], [106.8463277, -6.3169358], [106.8441489, -6.3168341], [106.8440916, -6.3182205], [106.8424229, -6.3179452], [106.8404176, -6.3183562], [106.8383412, -6.3207957], [106.8402188, -6.3219607], [106.8429475, -6.3254252], [106.8432092, -6.3267263], [106.8424787, -6.3275596], [106.8413125, -6.3266488], [106.8403086, -6.3289173], [106.8419847, -6.3308614], [106.8421049, -6.3321917], [106.8401289, -6.3321853], [106.8397246, -6.335138], [106.8404492, -6.3363087], [106.840274, -6.338634], [106.8391846, -6.3403333], [106.8405723, -6.3409546], [106.8408754, -6.3422492], [106.8392462, -6.3420938], [106.838299, -6.3410865], [106.8367279, -6.342143], [106.8349497, -6.3445178], [106.836785, -6.344987], [106.837674, -6.343569], [106.839528, -6.343569], [106.839813, -6.344746], [106.83926, -6.346262], [106.837746, -6.346911], [106.839164, -6.3519831], [106.835991, -6.351882], [106.836001, -6.3545329], [106.833091, -6.355195], [106.831886, -6.355792], [106.827934, -6.356095], [106.8231652, -6.3560487], [106.8212303, -6.3557012], [106.820852, -6.356786], [106.818889, -6.356905], [106.816143, -6.356212], [106.815263, -6.358536], [106.811175, -6.36277], [106.810574, -6.364198], [106.8071207, -6.3634531], [106.8033032, -6.3635785], [106.8012389, -6.3643042], [106.7983183, -6.364464], [106.7981834, -6.3650104], [106.7947591, -6.3649251], [106.7930913, -6.3634624], [106.7935385, -6.3622704], [106.7935995, -6.3599351], [106.7924978, -6.3581249], [106.7932174, -6.3569775], [106.7930019, -6.3552966], [106.7939458, -6.354205], [106.7925228, -6.3522627], [106.7939401, -6.3513623], [106.793053, -6.3500953], [106.7926177, -6.3479778], [106.7954727, -6.3459683], [106.7965043, -6.346605], [106.7976262, -6.3446898], [106.7987795, -6.3441232], [106.7996967, -6.3425069], [106.8000712, -6.3404792], [106.7987198, -6.3381444], [106.7994908, -6.3337211], [106.8017991, -6.3333804], [106.8012976, -6.3315703], [106.8034559, -6.3299069], [106.8035563, -6.3272939], [106.8040662, -6.3253688], [106.8049847, -6.3237123], [106.8072595, -6.3221186], [106.8072893, -6.3194045], [106.8076818, -6.3176768], [106.8092247, -6.3156018], [106.8090915, -6.3146235], [106.8056881, -6.3149759], [106.7969913, -6.3152688], [106.7919833, -6.3156093], [106.7902006, -6.314822], [106.7893717, -6.3166374], [106.7856003, -6.3163265], [106.782967, -6.3165859], [106.7825573, -6.3158889], [106.7801361, -6.3167032], [106.779016, -6.3157374], [106.7768137, -6.3152573], [106.776376, -6.3118488], [106.7745531, -6.311215], [106.7735157, -6.3093159], [106.7751683, -6.3082272], [106.7738244, -6.3068582], [106.7754042, -6.306149], [106.7751414, -6.3033124], [106.7730063, -6.3029232], [106.7717135, -6.3032164], [106.7715848, -6.3015129], [106.7732263, -6.3012942], [106.7715549, -6.2995506], [106.7708586, -6.2980995], [106.7697736, -6.297345], [106.7702484, -6.2958307], [106.7680147, -6.2958929], [106.7671598, -6.2950976], [106.7682421, -6.2935459], [106.7670032, -6.2913577], [106.7659533, -6.2887879], [106.7631208, -6.2887314], [106.7630225, -6.2868871], [106.760142, -6.286435], [106.7614402, -6.2821671], [106.7622651, -6.2778587], [106.7598925, -6.2782035], [106.7569967, -6.2775302], [106.7570383, -6.2743759], [106.7515481, -6.2745238], [106.7513895, -6.271911], [106.7504413, -6.2718214], [106.753543, -6.2685711], [106.7526654, -6.2676216], [106.7530309, -6.2659657], [106.7526026, -6.264498], [106.7565502, -6.262423], [106.7553324, -6.2619568], [106.7532509, -6.2622522], [106.7515237, -6.2617682], [106.7516025, -6.2605671], [106.7526593, -6.2596728], [106.7544208, -6.2598654], [106.7544615, -6.2576791], [106.7540431, -6.2559619], [106.7543649, -6.2541489], [106.7537238, -6.252301], [106.7519815, -6.2510903], [106.7518805, -6.2500333], [106.7481212, -6.2501445], [106.7467711, -6.2474185], [106.7468124, -6.2453587], [106.747392, -6.2424971], [106.7486422, -6.2407451], [106.7465719, -6.2362538], [106.7440991, -6.2363572], [106.7448424, -6.2337924], [106.7445389, -6.2324262], [106.745574, -6.2308055], [106.7439796, -6.2305364], [106.7445157, -6.2290569], [106.7432837, -6.2286625], [106.7428547, -6.2273226], [106.7403923, -6.2276638], [106.7404445, -6.226246], [106.7394873, -6.2253216], [106.7377845, -6.2253202], [106.737454, -6.223777]]] }, "properties": { "name": "Jakarta Selatan" } },
        { "type": "Feature", "geometry": { "type": "Polygon", "coordinates": [[[106.7141305, -6.0961648], [106.7125368, -6.0968517], [106.714283, -6.0988484], [106.7161191, -6.1025862], [106.722474, -6.111429], [106.727575, -6.1176817], [106.73155, -6.121542], [106.738635, -6.126884], [106.743954, -6.129458], [106.7470817, -6.13155], [106.750974, -6.134439], [106.7566236, -6.1367247], [106.767081, -6.140295], [106.7693029, -6.140904], [106.7755763, -6.1417715], [106.7752234, -6.1453103], [106.7781274, -6.1441963], [106.7929962, -6.1429363], [106.800578, -6.142064], [106.8002174, -6.1364508], [106.8010352, -6.1337856], [106.8025056, -6.1328792], [106.8105015, -6.1307799], [106.810379, -6.13029], [106.813674, -6.129599], [106.814927, -6.129669], [106.8165784, -6.1355405], [106.816832, -6.13721], [106.8198454, -6.1363983], [106.821262, -6.136834], [106.822498, -6.140099], [106.826323, -6.146945], [106.827155, -6.151225], [106.827484, -6.159787], [106.827872, -6.162239], [106.820659, -6.159557], [106.8045, -6.161789], [106.803379, -6.161514], [106.8011846, -6.1593923], [106.8002059, -6.1604653], [106.798229, -6.161343], [106.79954, -6.164667], [106.802427, -6.169052], [106.809864, -6.179697], [106.81069, -6.188581], [106.80673, -6.189014], [106.806399, -6.190824], [106.805577, -6.192676], [106.805113, -6.195668], [106.804402, -6.197282], [106.802855, -6.198998], [106.800555, -6.200144], [106.797726, -6.203301], [106.796885, -6.204787], [106.796156, -6.207579], [106.7923939, -6.2077815], [106.790757, -6.207454], [106.788844, -6.208495], [106.787434, -6.207065], [106.783218, -6.206746], [106.783621, -6.212071], [106.7823125, -6.2132676], [106.7796487, -6.2133905], [106.7779717, -6.2134623], [106.7772599, -6.2169], [106.7784846, -6.217558], [106.77847, -6.22687], [106.7675297, -6.2273868], [106.7658481, -6.2268454], [106.7669453, -6.2251346], [106.7654823, -6.2224746], [106.75786, -6.22266], [106.7568214, -6.2234586], [106.7476339, -6.223513], [106.744608, -6.223832], [106.737454, -6.223777], [106.73241, -6.22392], [106.727079, -6.224411], [106.718238, -6.224135], [106.717928, -6.220961], [106.71825, -6.2178], [106.72007, -6.21284], [106.719963, -6.212147], [106.7235115, -6.2121357], [106.7236642, -6.2075803], [106.7243128, -6.207596], [106.724757, -6.20281], [106.724531, -6.201114], [106.723074, -6.198928], [106.723245, -6.197219], [106.724337, -6.195528], [106.724773, -6.19405], [106.72402, -6.190742], [106.721947, -6.191171], [106.717707, -6.192554], [106.7148339, -6.191874], [106.714959, -6.189961], [106.716888, -6.189761], [106.718071, -6.187767], [106.722383, -6.186531], [106.722712, -6.185673], [106.724374, -6.184948], [106.718671, -6.183662], [106.715608, -6.182351], [106.709863, -6.180898], [106.7037, -6.178593], [106.701039, -6.176548], [106.698774, -6.17623], [106.695768, -6.175153], [106.694018, -6.175878], [106.692035, -6.174592], [106.691879, -6.17371], [106.688232, -6.172493], [106.6882522, -6.1681952], [106.689305, -6.164513], [106.689305, -6.161814], [106.690073, -6.159949], [106.688101, -6.159887], [106.687818, -6.152036], [106.687448, -6.147587], [106.686965, -6.14742], [106.686334, -6.144024], [106.686548, -6.134853], [106.685589, -6.1203878], [106.685636, -6.1158278], [106.686248, -6.1149858], [106.694501, -6.1127898], [106.695787, -6.1121498], [106.696843, -6.1108218], [106.696264, -6.109703], [106.694735, -6.109773], [106.693583, -6.10823], [106.694232, -6.106983], [106.692968, -6.106454], [106.691438, -6.107214], [106.691205, -6.108967], [106.68921, -6.108603], [106.688478, -6.107049], [106.688844, -6.100005], [106.6880816, -6.0999603], [106.687647, -6.096897], [106.690607, -6.096401], [106.691837, -6.095773], [106.69626, -6.095872], [106.697391, -6.096632], [106.700052, -6.095938], [106.701981, -6.096269], [106.704209, -6.095905], [106.707901, -6.096037], [106.710827, -6.096434], [106.7141305, -6.0961648]]] }, "properties": { "name": "Jakarta Barat" } },
        { "type": "Feature", "geometry": { "type": "Polygon", "coordinates": [[[106.7141305, -6.0961648], [106.7150927, -6.0954846], [106.7142049, -6.0943054], [106.7174294, -6.0919394], [106.7187266, -6.0916533], [106.7193081, -6.0926184], [106.7211188, -6.0913888], [106.7222334, -6.0917716], [106.7257187, -6.0891749], [106.7270491, -6.0900771], [106.729065, -6.093886], [106.7327092, -6.097842], [106.7374084, -6.1003953], [106.7381188, -6.0994522], [106.7406106, -6.1009404], [106.7449665, -6.1021405], [106.7452884, -6.1010524], [106.7465544, -6.1011164], [106.7467904, -6.0999109], [106.7494619, -6.1000922], [106.7525679, -6.1023752], [106.754424, -6.103346], [106.7570633, -6.1039968], [106.7612529, -6.1039861], [106.762602, -6.1047773], [106.764192, -6.10659], [106.7661631, -6.1105271], [106.7648025, -6.1109757], [106.7654484, -6.1127132], [106.765376, -6.115859], [106.770233, -6.115614], [106.769726, -6.114852], [106.7704912, -6.1122788], [106.7691749, -6.1098024], [106.7681828, -6.1087724], [106.7680689, -6.1061813], [106.7674219, -6.1024285], [106.7676142, -6.1010194], [106.7697082, -6.103095], [106.7714428, -6.1041738], [106.7743844, -6.1051891], [106.7750413, -6.1030171], [106.7766445, -6.1036142], [106.775487, -6.1069161], [106.7766738, -6.1082863], [106.7772995, -6.1065737], [106.7827545, -6.1086666], [106.7852624, -6.1081426], [106.7904313, -6.1080759], [106.7900079, -6.1040246], [106.7900831, -6.1002741], [106.7908342, -6.093814], [106.7916192, -6.0930305], [106.7934575, -6.0926915], [106.7952005, -6.093898], [106.7969435, -6.0943702], [106.7971597, -6.0954738], [106.7962137, -6.1045673], [106.7958739, -6.105426], [106.7962848, -6.1090039], [106.800222, -6.108689], [106.8007158, -6.1081188], [106.798987, -6.0967862], [106.8001136, -6.0965986], [106.8008892, -6.1000076], [106.8019982, -6.0998292], [106.8024458, -6.1022926], [106.8042786, -6.1015055], [106.8030519, -6.0945878], [106.8036655, -6.0944666], [106.804824, -6.100252], [106.807233, -6.113969], [106.8072867, -6.116086], [106.8080343, -6.1185782], [106.8086308, -6.1223894], [106.8079424, -6.1247742], [106.8090565, -6.1244075], [106.8093955, -6.1267542], [106.80987, -6.1273618], [106.8080282, -6.1160275], [106.8090774, -6.1168626], [106.8096284, -6.1201917], [106.8114473, -6.120437], [106.8118486, -6.1226317], [106.8125565, -6.1224953], [106.8124467, -6.119941], [106.813825, -6.120737], [106.8146305, -6.119442], [106.816593, -6.119896], [106.817222, -6.114884], [106.827603, -6.116339], [106.828157, -6.117105], [106.828556, -6.120178], [106.8299577, -6.1201239], [106.830647, -6.1210253], [106.8341178, -6.1207746], [106.8346918, -6.1216147], [106.8384388, -6.121436], [106.838825, -6.1208199], [106.8421617, -6.1208973], [106.8430777, -6.1214613], [106.8418412, -6.1226468], [106.8396699, -6.1221761], [106.8405698, -6.1238176], [106.8432198, -6.1235402], [106.8438622, -6.1210386], [106.8468529, -6.1198945], [106.8484515, -6.1200279], [106.8498328, -6.1193638], [106.8539876, -6.1183504], [106.855031, -6.1171503], [106.8570319, -6.1163928], [106.8589175, -6.1143273], [106.8573645, -6.1134352], [106.8562245, -6.1139953], [106.8550765, -6.1118564], [106.8559295, -6.1100508], [106.8575549, -6.1098588], [106.8580592, -6.1109096], [106.8608755, -6.1104402], [106.8613824, -6.1146087], [106.863504, -6.1140166], [106.8635336, -6.1121444], [106.8659449, -6.1100002], [106.8695015, -6.1074532], [106.8713817, -6.1053436], [106.8729642, -6.1042528], [106.8720925, -6.1084773], [106.8649632, -6.1123497], [106.8646964, -6.1207516], [106.866294, -6.1197901], [106.8653308, -6.1140775], [106.8682839, -6.1118879], [106.8714167, -6.1103758], [106.8716447, -6.1117786], [106.8709393, -6.1143175], [106.8717399, -6.1151456], [106.8726787, -6.1136628], [106.8747212, -6.1035483], [106.8762447, -6.1020094], [106.8775644, -6.1018734], [106.8774517, -6.1052178], [106.8767034, -6.1066367], [106.8759926, -6.1103891], [106.8764995, -6.1104158], [106.8772251, -6.1068807], [106.8780136, -6.1068674], [106.8775362, -6.1104144], [106.8785943, -6.1098904], [106.8790972, -6.0949751], [106.8795237, -6.0951805], [106.8795505, -6.0985076], [106.8811082, -6.096748], [106.8811686, -6.0953052], [106.8827135, -6.0947931], [106.8823139, -6.1063466], [106.8838132, -6.1064213], [106.8842196, -6.0959999], [106.8861561, -6.0963253], [106.8870305, -6.0972855], [106.88671, -6.1065227], [106.8880002, -6.106544], [106.8883408, -6.0971908], [106.8910471, -6.0972921], [106.8907347, -6.106772], [106.8924439, -6.1068474], [106.8927884, -6.0973199], [106.9054806, -6.0978213], [106.9052339, -6.1071132], [106.9071843, -6.1084579], [106.907553, -6.103816], [106.910424, -6.10384], [106.91045, -6.101653], [106.908501, -6.101629], [106.907973, -6.099959], [106.909469, -6.098862], [106.91338, -6.098728], [106.918847, -6.099118], [106.918896, -6.104651], [106.920428, -6.10451], [106.919828, -6.102226], [106.920612, -6.100251], [106.92261, -6.100666], [106.926312, -6.09963], [106.926374, -6.098167], [106.9347542, -6.0963691], [106.937283, -6.096447], [106.938158, -6.097217], [106.939364, -6.096756], [106.940242, -6.098452], [106.943829, -6.098116], [106.9497726, -6.0959617], [106.9524119, -6.0953323], [106.9520793, -6.0902222], [106.9546281, -6.0897074], [106.9551898, -6.094956], [106.9570274, -6.0951417], [106.9588817, -6.0944722], [106.9590934, -6.0938331], [106.9616549, -6.0926283], [106.9630296, -6.0928025], [106.9641563, -6.0936387], [106.96612, -6.0935994], [106.9698989, -6.0910809], [106.969565, -6.0951615], [106.9703048, -6.0979222], [106.9702831, -6.1008476], [106.9687741, -6.1019194], [106.969155, -6.11235], [106.969086, -6.119285], [106.969229, -6.126496], [106.970432, -6.126428], [106.970531, -6.132023], [106.970234, -6.133692], [106.970695, -6.13631], [106.970695, -6.140695], [106.971057, -6.140924], [106.972505, -6.146192], [106.971617, -6.147108], [106.971255, -6.149759], [106.971913, -6.149922], [106.971189, -6.154176], [106.971452, -6.156336], [106.970469, -6.156194], [106.967634, -6.155289], [106.964344, -6.156149], [106.962771, -6.156283], [106.960815, -6.155613], [106.96095, -6.15758], [106.960163, -6.158339], [106.959893, -6.160463], [106.957825, -6.158831], [106.954307, -6.157755], [106.952136, -6.159988], [106.950896, -6.162808], [106.949021, -6.162895], [106.948765, -6.163755], [106.944523, -6.163522], [106.944827, -6.160592], [106.944782, -6.158198], [106.941092, -6.157904], [106.940638, -6.157044], [106.940213, -6.151338], [106.93921, -6.152074], [106.935731, -6.158504], [106.9328851, -6.158342], [106.9311945, -6.1592341], [106.9317167, -6.1605151], [106.9289965, -6.1609317], [106.932181, -6.1641354], [106.9300795, -6.1681403], [106.9251412, -6.1654542], [106.9237896, -6.16547], [106.9237392, -6.1633283], [106.9218062, -6.1626074], [106.9211324, -6.1674601], [106.9201472, -6.1700081], [106.9207942, -6.1740838], [106.9217647, -6.1785403], [106.9216838, -6.1804004], [106.9222724, -6.1830995], [106.913507, -6.182469], [106.912364, -6.1827738], [106.909523, -6.182143], [106.906576, -6.180578], [106.901293, -6.178578], [106.896277, -6.177957], [106.8913196, -6.1734047], [106.881466, -6.167035], [106.8788769, -6.1662919], [106.8820391, -6.162307], [106.87695, -6.163484], [106.874186, -6.161649], [106.8636043, -6.1556693], [106.8567602, -6.1516822], [106.8561005, -6.152107], [106.8453185, -6.1533954], [106.841333, -6.1506909], [106.843927, -6.144949], [106.8383829, -6.1417781], [106.837248, -6.144806], [106.836102, -6.143466], [106.8341377, -6.1419445], [106.8320509, -6.1412208], [106.8306839, -6.1392577], [106.830702, -6.135334], [106.821262, -6.136834], [106.8198454, -6.1363983], [106.816832, -6.13721], [106.8165784, -6.1355405], [106.814927, -6.129669], [106.813674, -6.129599], [106.810379, -6.13029], [106.8105015, -6.1307799], [106.8025056, -6.1328792], [106.8010352, -6.1337856], [106.8002174, -6.1364508], [106.800578, -6.142064], [106.7929962, -6.1429363], [106.7781274, -6.1441963], [106.7752234, -6.1453103], [106.7755763, -6.1417715], [106.7693029, -6.140904], [106.767081, -6.140295], [106.7566236, -6.1367247], [106.750974, -6.134439], [106.7470817, -6.13155], [106.743954, -6.129458], [106.738635, -6.126884], [106.73155, -6.121542], [106.727575, -6.1176817], [106.722474, -6.111429], [106.7161191, -6.1025862], [106.714283, -6.0988484], [106.7125368, -6.0968517], [106.7141305, -6.0961648]]] }, "properties": { "name": "Jakarta Utara" } },
        { "type": "Feature", "geometry": { "type": "Polygon", "coordinates": [[[106.8397246, -6.335138], [106.8401289, -6.3321853], [106.8421049, -6.3321917], [106.8419847, -6.3308614], [106.8403086, -6.3289173], [106.8413125, -6.3266488], [106.8424787, -6.3275596], [106.8432092, -6.3267263], [106.8429475, -6.3254252], [106.8402188, -6.3219607], [106.8383412, -6.3207957], [106.8404176, -6.3183562], [106.8424229, -6.3179452], [106.8440916, -6.3182205], [106.8441489, -6.3168341], [106.8463277, -6.3169358], [106.8470362, -6.3158329], [106.8483541, -6.3150691], [106.8489765, -6.3160596], [106.8483667, -6.3183005], [106.8515514, -6.3163207], [106.8512232, -6.3145539], [106.8528203, -6.3108504], [106.8548245, -6.3124936], [106.8555499, -6.3137978], [106.8579852, -6.3117151], [106.8581973, -6.3106162], [106.8568182, -6.310263], [106.8577737, -6.3074622], [106.8575732, -6.3061925], [106.8581818, -6.304914], [106.8551413, -6.3035898], [106.8544473, -6.302394], [106.8550965, -6.3011197], [106.8545225, -6.2993757], [106.8523988, -6.300058], [106.8515379, -6.3010497], [106.8499768, -6.299746], [106.8507124, -6.2986793], [106.8520272, -6.2992725], [106.8522891, -6.2979481], [106.8506183, -6.2967897], [106.8517073, -6.2955767], [106.8543587, -6.296042], [106.8540646, -6.2937198], [106.8523707, -6.2939796], [106.8542186, -6.2917399], [106.8541543, -6.2902543], [106.8517159, -6.2911596], [106.851578, -6.2925173], [106.850204, -6.292592], [106.8493336, -6.2904402], [106.8507563, -6.2898298], [106.8512687, -6.2888153], [106.8503504, -6.287911], [106.848555, -6.288096], [106.847416, -6.2863749], [106.847696, -6.2848465], [106.8488404, -6.2837619], [106.847617, -6.2828722], [106.8502678, -6.2795356], [106.8481025, -6.2800419], [106.8467742, -6.2788575], [106.8494445, -6.276512], [106.851338, -6.2765494], [106.8519526, -6.2751291], [106.8513397, -6.2740605], [106.8519924, -6.2732194], [106.853527, -6.2731704], [106.8535827, -6.2719325], [106.8563776, -6.2728222], [106.8566376, -6.270373], [106.8557207, -6.2683244], [106.8552432, -6.2661196], [106.8543429, -6.2646314], [106.8566034, -6.2643165], [106.8569451, -6.2636641], [106.8547525, -6.262931], [106.8552781, -6.2617027], [106.8569683, -6.262879], [106.8588949, -6.2630165], [106.8594738, -6.2625155], [106.8605608, -6.257745], [106.860463, -6.2546976], [106.8596161, -6.2543471], [106.8575452, -6.2548024], [106.8580008, -6.2525102], [106.8599593, -6.2508724], [106.8605617, -6.2513275], [106.8610171, -6.2538681], [106.862904, -6.2531641], [106.8622279, -6.2504435], [106.8640218, -6.2494811], [106.8621159, -6.2467522], [106.8626088, -6.2440128], [106.8627709, -6.2400485], [106.863546, -6.237576], [106.8653498, -6.2368629], [106.8662139, -6.2389072], [106.8669353, -6.2384976], [106.866418, -6.236829], [106.8652872, -6.2352697], [106.8663893, -6.2341338], [106.865268, -6.232443], [106.863339, -6.2306937], [106.8647657, -6.2288773], [106.8644929, -6.2263414], [106.863818, -6.224607], [106.86528, -6.224541], [106.8655652, -6.2235907], [106.863505, -6.220961], [106.8629789, -6.219617], [106.8616768, -6.2197953], [106.8617152, -6.2214274], [106.860174, -6.220922], [106.862549, -6.217434], [106.8624504, -6.2162668], [106.860489, -6.21727], [106.858543, -6.216326], [106.85733, -6.217462], [106.8562954, -6.2162957], [106.8575168, -6.2137781], [106.8582848, -6.2133596], [106.8568735, -6.2117636], [106.8550004, -6.2113482], [106.8524027, -6.209387], [106.851027, -6.208943], [106.8491498, -6.2075531], [106.849653, -6.205723], [106.8524494, -6.2058433], [106.8537197, -6.206565], [106.855035, -6.205855], [106.855758, -6.204476], [106.8552236, -6.2024483], [106.851038, -6.201599], [106.856271, -6.197719], [106.8622179, -6.193747], [106.864411, -6.192892], [106.8689238, -6.192269], [106.872257, -6.192089], [106.875034, -6.192381], [106.875378, -6.189915], [106.875523, -6.184346], [106.876052, -6.176192], [106.876737, -6.173054], [106.878091, -6.168146], [106.8788769, -6.1662919], [106.881466, -6.167035], [106.8913196, -6.1734047], [106.896277, -6.177957], [106.901293, -6.178578], [106.906576, -6.180578], [106.909523, -6.182143], [106.912364, -6.1827738], [106.913507, -6.182469], [106.9222724, -6.1830995], [106.9216838, -6.1804004], [106.9217647, -6.1785403], [106.9207942, -6.1740838], [106.9201472, -6.1700081], [106.9211324, -6.1674601], [106.9218062, -6.1626074], [106.9237392, -6.1633283], [106.9237896, -6.16547], [106.9251412, -6.1654542], [106.9300795, -6.1681403], [106.932181, -6.1641354], [106.9289965, -6.1609317], [106.9317167, -6.1605151], [106.9311945, -6.1592341], [106.9328851, -6.158342], [106.935731, -6.158504], [106.93921, -6.152074], [106.940213, -6.151338], [106.940638, -6.157044], [106.941092, -6.157904], [106.944782, -6.158198], [106.944827, -6.160592], [106.944523, -6.163522], [106.948765, -6.163755], [106.949021, -6.162895], [106.950896, -6.162808], [106.952136, -6.159988], [106.954307, -6.157755], [106.957825, -6.158831], [106.959893, -6.160463], [106.960163, -6.158339], [106.96095, -6.15758], [106.960815, -6.155613], [106.962771, -6.156283], [106.964344, -6.156149], [106.967634, -6.155289], [106.970469, -6.156194], [106.970873, -6.16318], [106.969177, -6.165057], [106.969038, -6.166816], [106.971162, -6.169836], [106.971881, -6.175041], [106.972728, -6.176979], [106.972415, -6.183548], [106.973466, -6.185223], [106.973975, -6.187335], [106.973945, -6.189686], [106.973376, -6.191173], [106.971641, -6.192959], [106.970234, -6.19617], [106.970503, -6.199411], [106.968769, -6.198549], [106.966715, -6.198687], [106.965837, -6.201239], [106.966554, -6.202343], [106.965936, -6.205993], [106.96634, -6.207105], [106.96538, -6.207833], [106.962933, -6.211969], [106.961462, -6.211813], [106.959327, -6.212316], [106.958567, -6.213972], [106.958426, -6.216601], [106.957233, -6.21824], [106.955193, -6.218494], [106.954842, -6.219435], [106.951663, -6.21896], [106.95007, -6.220285], [106.948858, -6.222346], [106.947463, -6.225995], [106.946998, -6.228158], [106.947199, -6.229764], [106.9455448, -6.236834], [106.944684, -6.236771], [106.942829, -6.237734], [106.9437832, -6.2386433], [106.944004, -6.243595], [106.945422, -6.244039], [106.944634, -6.245891], [106.9438209, -6.2510623], [106.9440342, -6.252357], [106.9415918, -6.2526943], [106.9407842, -6.25375], [106.9360472, -6.253342], [106.9350402, -6.2538773], [106.932636, -6.2538], [106.928544, -6.254669], [106.92681, -6.254366], [106.924923, -6.254807], [106.922384, -6.254876], [106.920802, -6.253814], [106.9206178, -6.2513699], [106.9193652, -6.2522597], [106.9193146, -6.2536861], [106.9179242, -6.2536719], [106.9178791, -6.2556759], [106.9157085, -6.2564687], [106.9131183, -6.2560637], [106.9114637, -6.2554272], [106.9097265, -6.2553661], [106.9101177, -6.2579672], [106.9063275, -6.259481], [106.9054321, -6.2601073], [106.9043463, -6.2620147], [106.9053539, -6.2628582], [106.9046004, -6.2658461], [106.9048677, -6.2675615], [106.9056131, -6.2688823], [106.9057347, -6.2713627], [106.9072497, -6.2722164], [106.9084975, -6.2720392], [106.909259, -6.272756], [106.9094697, -6.2751559], [106.90876, -6.2776852], [106.9086225, -6.283152], [106.9090266, -6.2856738], [106.910128, -6.2876496], [106.9097619, -6.2886478], [106.9108528, -6.2908381], [106.9103291, -6.2915329], [106.9102796, -6.2942582], [106.9124008, -6.2949429], [106.9118328, -6.2963391], [106.9118163, -6.2979938], [106.9129678, -6.2988703], [106.9145178, -6.2980017], [106.9148727, -6.297059], [106.917034, -6.2982411], [106.9178486, -6.2994556], [106.9190542, -6.2988834], [106.9196963, -6.300625], [106.920919, -6.3005187], [106.9209219, -6.3018981], [106.9217732, -6.3033452], [106.9215492, -6.3074245], [106.9206575, -6.3082558], [106.921262, -6.3095889], [106.9208436, -6.3109612], [106.92259, -6.313302], [106.922023, -6.315598], [106.922057, -6.317639], [106.920759, -6.318437], [106.920636, -6.320541], [106.9216597, -6.322971], [106.9214773, -6.324288], [106.918995, -6.325651], [106.9193637, -6.3273217], [106.9200504, -6.3276523], [106.920347, -6.329596], [106.920973, -6.3307], [106.920517, -6.333178], [106.919441, -6.335027], [106.919529, -6.338737], [106.918223, -6.339187], [106.919536, -6.341078], [106.9185562, -6.3424815], [106.9189414, -6.3435692], [106.917311, -6.3437801], [106.9170151, -6.3458334], [106.9160044, -6.3464438], [106.9172263, -6.3478228], [106.9160366, -6.3486711], [106.9177927, -6.3502416], [106.9169774, -6.3508825], [106.9167045, -6.3526307], [106.9156329, -6.3548262], [106.9167387, -6.3556674], [106.913883, -6.3585251], [106.9142236, -6.3600401], [106.9154242, -6.3609169], [106.9150668, -6.3638747], [106.9132921, -6.3648022], [106.910221, -6.3635703], [106.9076078, -6.3611951], [106.9071042, -6.3617374], [106.9044351, -6.3678362], [106.9039326, -6.3696008], [106.9034314, -6.3744575], [106.9023049, -6.3742336], [106.9004649, -6.3730501], [106.9011354, -6.3702458], [106.898804, -6.3694259], [106.89589, -6.371554], [106.8932271, -6.3699813], [106.8897425, -6.3686223], [106.8891739, -6.3675451], [106.8878063, -6.3708837], [106.8874189, -6.3725743], [106.8827168, -6.3723823], [106.883648, -6.370395], [106.883377, -6.369066], [106.8847678, -6.3667515], [106.883712, -6.365465], [106.8837632, -6.364402], [106.882686, -6.363681], [106.8812, -6.363598], [106.8808003, -6.3645039], [106.8792922, -6.3644691], [106.8779786, -6.3629685], [106.8788546, -6.3613404], [106.874917, -6.361612], [106.872581, -6.360992], [106.8713732, -6.3600437], [106.874308, -6.356078], [106.8732521, -6.3555673], [106.8709708, -6.352661], [106.8701948, -6.3532468], [106.8679488, -6.3534244], [106.8678438, -6.3545007], [106.8660995, -6.3560032], [106.8635861, -6.3563242], [106.8626074, -6.3548025], [106.8609212, -6.3559004], [106.8609406, -6.3542824], [106.8564538, -6.3539431], [106.8567818, -6.3510587], [106.8574867, -6.3502648], [106.8578326, -6.348097], [106.8553115, -6.3465696], [106.855896, -6.3444379], [106.8550181, -6.34337], [106.8551093, -6.3423108], [106.8527725, -6.341801], [106.8506973, -6.3409509], [106.8504218, -6.3392579], [106.8482149, -6.3381677], [106.8487354, -6.3370152], [106.8447688, -6.3369768], [106.8438579, -6.3373567], [106.8433787, -6.3357729], [106.8417792, -6.3357982], [106.8397246, -6.335138]]] }, "properties": { "name": "Jakarta Timur" } },
        { "type": "Feature", "geometry": { "type": "Polygon", "coordinates": [[[106.7923939, -6.2077815], [106.796156, -6.207579], [106.796885, -6.204787], [106.797726, -6.203301], [106.800555, -6.200144], [106.802855, -6.198998], [106.804402, -6.197282], [106.805113, -6.195668], [106.805577, -6.192676], [106.806399, -6.190824], [106.80673, -6.189014], [106.81069, -6.188581], [106.809864, -6.179697], [106.802427, -6.169052], [106.79954, -6.164667], [106.798229, -6.161343], [106.8002059, -6.1604653], [106.8011846, -6.1593923], [106.803379, -6.161514], [106.8045, -6.161789], [106.820659, -6.159557], [106.827872, -6.162239], [106.827484, -6.159787], [106.827155, -6.151225], [106.826323, -6.146945], [106.822498, -6.140099], [106.821262, -6.136834], [106.830702, -6.135334], [106.8306839, -6.1392577], [106.8320509, -6.1412208], [106.8341377, -6.1419445], [106.836102, -6.143466], [106.837248, -6.144806], [106.8383829, -6.1417781], [106.843927, -6.144949], [106.841333, -6.1506909], [106.8453185, -6.1533954], [106.8561005, -6.152107], [106.8567602, -6.1516822], [106.8636043, -6.1556693], [106.874186, -6.161649], [106.87695, -6.163484], [106.8820391, -6.162307], [106.8788769, -6.1662919], [106.878091, -6.168146], [106.876737, -6.173054], [106.876052, -6.176192], [106.875523, -6.184346], [106.875378, -6.189915], [106.875034, -6.192381], [106.872257, -6.192089], [106.8689238, -6.192269], [106.864411, -6.192892], [106.8622179, -6.193747], [106.856271, -6.197719], [106.851038, -6.201599], [106.8552236, -6.2024483], [106.855758, -6.204476], [106.855035, -6.205855], [106.8537197, -6.206565], [106.8524494, -6.2058433], [106.849653, -6.205723], [106.8491498, -6.2075531], [106.847696, -6.209144], [106.840969, -6.206863], [106.8374618, -6.2055283], [106.8279871, -6.2038393], [106.822744, -6.202639], [106.8221748, -6.20632], [106.8217628, -6.2086953], [106.8215751, -6.2093227], [106.8195622, -6.2131804], [106.816779, -6.215875], [106.8087648, -6.2221626], [106.8057471, -6.2241644], [106.80307, -6.22634], [106.8010173, -6.22794], [106.7993951, -6.2289663], [106.7958306, -6.2292594], [106.795623, -6.22857], [106.7963941, -6.2264679], [106.796074, -6.223609], [106.7969474, -6.2186256], [106.796058, -6.21519], [106.795094, -6.21287], [106.792672, -6.210347], [106.7918334, -6.2087557], [106.7923939, -6.2077815]]] }, "properties": { "name": "Jakarta Pusat" } }
    ]
}
function mapClick(e) {
    router.push({ path: "/area/" +  e.layer.feature.properties.name});
    console.log(e.layer.feature.properties.name);
}

</script>

<style>
path:focus {
    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
</style>